@model RemoteFinder.Models.FileStorage;
@{
    ViewData["Title"] = "Edit Page";
}

<div class="container">
    <a href="@Url.Action("Index", "Home")">< Back</a>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Field</th>
                <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>File Name</td>
                <td>@Model.FileName</td>
            </tr>
            <tr>
                <td>File Size (bytes)</td>
                <td>@Model.FileSize</td>
            </tr>
            <tr>
                <td>File Type</td>
                <td>@Model.FileType</td>
            </tr>
            <tr>
                <td>Created At</td>
                <td>@Model.CreatedAt</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>