@model RemoteFinder.Models.File;
@{
    ViewData["Title"] = "Edit Page";
}

<div class="container">
    <a href="@Url.Action("Index", "Home")">< Back</a>
    @using (Html.BeginForm())
    {
        <div class="row">
            @Html.ValidationSummary(true)
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Name</td>
                    <td>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>File Name</td>
                    <td>
                        @Html.EditorFor(model => model.FileName)
                        @Html.ValidationMessageFor(model => model.FileName)
                    </td>
                </tr>
                <tr>
                    <td>File Size (bytes)</td>
                    <td>
                        @Html.EditorFor(model => model.FileSize)
                        @Html.ValidationMessageFor(model => model.FileSize)
                    </td>
                </tr>
                <tr>
                    <td>File Type</td>
                    <td>
                        @Html.EditorFor(model => model.FileType)
                        @Html.ValidationMessageFor(model => model.FileType)
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-lg" type="submit">Save changes</button>
        </div>
    }
</div>